# Zsh
alias reload-zsh='source ~/.zshrc'
 
# Vim
alias v='vim'

# TMux
alias t='tmux'
alias tn='tmux new -s'
alias ta='tmux attach -t'
alias tl='tmux ls'
alias tk='tmux kill-session -t'
alias tr='tmux rename-session -t'

# Get Public IP Address
alias getIP='curl ifconfig.io'

# Export Configurations
alias export-configs='cat ~/.aliases > Documents/system_configurations/dotfiles/.aliases && cat ~/.vimrc > Documents/system_configurations/dotfiles/.vimrc && cat ~/.tmux.conf > Documents/system_configurations/dotfiles/.tmux.conf'
